@model IEnumerable<FurnitureDesignArchive.Models.Furniture>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model) {
    <div class="FurniturePieceBox">
        <a class="FurniturePieceButton" href="@Url.Action("Details", "Furnitures", new { id = item.FurnitureID })">
            <img class="FurniturePieceImage" src="@Html.DisplayFor(modelItem => item.FurnitureImg)" alt="Furniture Piece Image" />
            <div class="FurniturePieceDetailWrapper">
                <h3 class="FurniturePieceTitle">@Html.DisplayFor(modelItem => item.FurnitureName)</h3>
            </div>
        </a>
    </div>
}


