@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
/*font-family: 'Roboto', sans-serif;*/

a, ul, ol {
    text-decoration:none;
    list-style:none;
}

/*Navigation*/
header{
   background-color:#444;
   height:72px;
   display:flex; 
   flex-direction:row;
   align-items:center;
}

.nav-home {
    font-family: 'Roboto', sans-serif;
    font-size:1.3em; 
    color:#ccc;
    font-weight:300;
    margin-left:1em;
    margin-right:auto;
}
.nav-list {
    margin-right:1.5em;
    color:#ccc;
}

.nav-list a, .nav-list a:visited {
    color:#ccc;
}

.nav-home:hover, .nav-list a:hover{
    color:#fff;
}

/*Main Layout*/
.container{
    width:100%;
}

footer{
    margin-top:3em;
    margin-left:1em;
    opacity:.5;
}

/*Furniture Display*/
.FurniturePieceBox{
    width:80%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 15px;
    background-color:#01579B;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.FurniturePieceBox a{
    margin:0;
    padding:0;
}

.FurniturePieceImage{
    width:100%;
    height:170px;
    image-resolution:inherit;
    border-bottom:solid 2px #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

.FurniturePieceTitle{
    width:100%;
    text-align:center;
    color:#eee;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size:1.25em;
    margin-top:.5em;
    margin-bottom:.5em;
}

.FurniturePieceDetailWrapper{
    padding: 15px 0px;
}

/*Details Page*/
.furnitureDetailsContainer{
    width:90%;
    margin:0 auto;
    font-family:Roboto, sans-serif;
}

.furnitureImageBlock{
    width:100%;
    margin:0 auto;
    margin-top:20px;
    border:solid 3px #444;
    border-bottom:solid 3px #444;
}

.furnitureTitleFlex{
    display:flex;
    align-items:center;
}

.furnitureTitle{
    font-weight:300;
    font-size:1.25em;
    opacity:.83;
    margin-right:auto;
}

.furnitureEditButton{
    display:flex;
    align-items:center;
    justify-content:center;
    opacity:.7;
}

.furnitureEditButton:hover{
   opacity:1;
}

.furnitureEditButton, .furnitureEditButton:visited{
    color:#444;
}

dl dt {
    font-weight:bold;
    padding:5px;
    opacity:.83;
}

dl dd {
    opacity:.83;
}

.flexPartTitle{
    display:flex;
    align-items:center;
}

.flexPartTitle h4{
    font-weight:300;
    font-size:1.25em;
    opacity:.83;
    margin-right:auto;
}

.flexPartTitle a{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#444;
    opacity:.7;
}

.flexPartTitle a:visited{
    color:#444;
}

.flexPartTitle a:hover{
    opacity:1;
}

.partNotesTitle{
    font-weight:300;
    font-size:1.25em;
    opacity:.83;
}

.partsTable {
    width:100%;
}

.partsTable td, .partsTable th{ 
    font-size:.5em;
    padding:5px;
    border-bottom:1px solid #ccc;
    opacity:.83;
}

.partsTable a:visited, .partsTable a{
    color:#444;
    opacity:.6;
}

.partsTable a:hover{
    color:blue;
    opacity:1;
}

.totalFoot{
    text-align:right;
    opacity:.83;
    font-weight:300;
    font-size:.8em;
}

.deleteContainer{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:2em;
    margin-bottom:0;
    padding-bottom:0;
}

.delete{
    background-color:#ccc;
    color:white;
    padding:8px;
}

.delete:hover{
    background-color:maroon;
}

/*Edit Form*/
.editWrap{
    width:80%;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    opacity:.83;
}
.FormContainer{
    width:100%; 
    margin:0 auto;
}

.editWrap h2{
    font-weight:300;
}

.editWrap h4{
    font-weight:400;
}

.form-group{
    padding:10px;
}

.form-control{
    width:100%;
    padding:5px;
}

.control-label{
    width:100%;
    font-weight:bold;
    opacity:.83;
}

.textArea-control{
    width:100%;
    height:150px;
}

.backTo{
    float:right;
    color:#444;
    opacity:.7;
}

.backTo:hover{
    opacity:1;
    color:blue;
}

.save{
    background-color:#01579B;
    border-radius:15px;
    padding:5px 15px;
    border:none;
    color:white;
    float:right;
}

.save:hover{
    background-color:#0288D1;
}

.save:focus{
    outline:none;
}

/*Delete Conf*/
.deleteConf{
    background-color:maroon;
    color:white;
    border:none;
    padding:5px;
    opacity:.7;
}
.deleteConf:hover{
    opacity:1;
}
.deleteBackTo{
    background-color:#222;
    padding:5px;
    color:#ccc;
    opacity:.7;
}

.deleteBackTo:hover{
    opacity:1;
}

.deleteImage{
    width:100%;
}

.AreYouSure{
    color:darkred;
}

/*Parts Create*/

.partSaveButtonContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}