@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
/*font-family: 'Roboto', sans-serif;*/

a, ul, ol {
    text-decoration:none;
    list-style:none;
}

/*Navigation*/
header{
   background-color:#444;
   height:72px;
   display:flex; 
   flex-direction:row;
   align-items:center;
}

.nav-home {
    font-family: 'Roboto', sans-serif;
    font-size:1.3em; 
    color:#ccc;
    font-weight:300;
    margin-left:1em;
    margin-right:auto;
}
.nav-list {
    margin-right:1.5em;
    color:#ccc;
}

.nav-list a, .nav-list a:visited {
    color:#ccc;
}

.nav-home:hover, .nav-list a:hover{
    color:#fff;
}

/*Main Layout*/
.container{
    width:100%;
}

/*Furniture Display*/
.FurniturePieceBox{
    width:80%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 15px;
    background-color:#01579B;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.FurniturePieceBox a{
    margin:0;
    padding:0;
}

.FurniturePieceImage{
    width:100%;
    border-bottom:solid 2px #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

.FurniturePieceTitle{
    width:100%;
    text-align:center;
    color:#eee;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size:1.25em;
    margin-top:.5em;
    margin-bottom:.5em;
}

.FurniturePieceDetailWrapper{
    padding: 15px 0px;
}

/*Details Page*/
.furnitureDetailsContainer{
    width:90%;
    margin:0 auto;
}

.furnitureImageBlock{
    width:100%;
    margin:0 auto;
}

