<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3WireBuild - Furniture Archive</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <link href="~/Content/Main.css" rel="stylesheet" type="text/css" />
</head>
<body>
            <header>
                @Html.ActionLink("3Wire Archive", "Index", "Furnitures", new { area = "" }, new { @class = "nav-home" })
                <nav id="navbar">
                    <ul class="nav-list"></ul>
                </nav>
            </header>

        <div class="container">
            @RenderBody()
        
            <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 3WireBuild - Matthew Thompson</p>
        </footer>
    </div>

</body>
</html>